<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
    <title>Task Manager</title>
</head>

<body>
<header>
    <!--/*/ <th:block th:include="fragments/header :: header('about')"></th:block> /*/-->
</header>

<main class="container">
    <h1 class="display-4">Gestion des PFA</h1>
    <p class="lead">Application pour la gestion des projets de fin d'années</p>

    <hr class="my-4">
    <p>Built with:</p>
    <ul>
        <li>Spring Boot</li>
        <li>Spring Security</li>
        <li>H2 database</li>
        <li>Maven</li>
        <li>Thymeleaf</li>
        <li>Bootstrap</li>
        <li>jQuery</li>
    </ul>



</main>

<footer class="footer">
    <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</footer>

</body>
</html>